<% form_for @blog_post do |f| -%>
  <p>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Body" %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </p>
<% end -%>